# VITE_APP_NAME: Nombre de la aplicación/plataforma (menú, header web).
VITE_APP_NAME="my.app"

# VITE_COMPANY_NAME: Nombre de la empresa para marcas de agua, encabezados y videos.
VITE_COMPANY_NAME="my.app"

